// 基本設定
$total-columns  : 5; // 預設 5 欄
$column-width   : 5em;
$gutter-width   : 1.5em;
$grid-padding   : 3em;

// add media
$ipad           : 769px 8;
$desktop        : 961px 12;

// 設定大容器
body {
  background: #d9dfd1;
  margin: 0;
}
.page {
  @include container($total-columns, $ipad, $desktop);
  @include pie-clearfix;
  // min-height: 1080px;
}

// 做版面
// 一般版（mobile first）

.footer {
  @include pie-clearfix;
}

.content {
  @include padding-leader(1);
}

// iPad 版本
@include at-breakpoint($ipad) {

}

// Desktop 版本
@include at-breakpoint($desktop) {

}
