article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Theinhardt-Bold, sans-serif;
  vertical-align: baseline; }

* html {
  font-size: 100%; }

html {
  font-size: 16px;
  line-height: 24px; }

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #aa0000; }
  a:active, a:focus {
    outline: none; }

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  font-weight: normal; }

h1 {
  font-size: 24px;
  line-height: 24px;
  position: relative;
  top: 5px;
  margin-bottom: 24px; }

h2 {
  font-size: 20px;
  line-height: 24px;
  position: relative;
  top: 6px; }

small {
  display: block;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  top: 8px;
  margin-bottom: 24px;
  opacity: .5; }

p {
  color: #444;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  top: 7px;
  margin-bottom: 24px; }

.header p {
  margin: 0; }

.font-scale-0 {
  font-size: 11px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 9px; }
  .font-scale-0:before {
    content: "11px "; }

.font-scale-1 {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 8px; }
  .font-scale-1:before {
    content: "12px "; }

.font-scale-2 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 8px; }
  .font-scale-2:before {
    content: "14px "; }

.font-scale-3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 7px; }
  .font-scale-3:before {
    content: "16px "; }

.font-scale-4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 6px; }
  .font-scale-4:before {
    content: "18px "; }

.font-scale-5 {
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 24px;
  position: relative;
  top: 17px; }
  .font-scale-5:before {
    content: "24px "; }

.font-scale-6 {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 24px;
  position: relative;
  top: 15px; }
  .font-scale-6:before {
    content: "28px "; }

.font-scale-7 {
  font-size: 99px;
  line-height: 120px;
  margin-bottom: 24px;
  position: relative;
  top: 29px; }
  .font-scale-7:before {
    content: "99px "; }

body {
  background: #d9dfd1;
  margin: 0;
  padding: 0; }

.page {
  max-width: 31em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  .page:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 641px) {
    .page {
      max-width: 50.5em; } }
  @media (min-width: 941px) {
    .page {
      max-width: 76.5em; } }
  .page:after {
    content: "";
    display: table;
    clear: both; }

.header {
  padding-top: 24px; }

.columns {
  margin-top: 24px; }

@media (min-width: 641px) {
  .column {
    width: 48.51485%;
    float: left;
    margin-right: 2.9703%; }
    .column:nth-child(2n) {
      float: right;
      margin-right: 0; } }
@media (min-width: 941px) {
  .header {
    width: 23.52941%;
    float: left;
    margin-right: 1.96078%; }
    .header [class^=font-scale-] {
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }

  .columns {
    width: 74.5098%;
    float: right;
    margin-right: 0; }

  .column {
    width: 31.57895%;
    float: left;
    margin-right: 2.63158%; }
    .column:nth-child(2n) {
      float: left;
      margin-right: 2.63158%; }
    .column:nth-child(3n) {
      float: right;
      margin-right: 0; } }
body {
  /* debug background grid */
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 154, 142, 0.3)), color-stop(5%, rgba(0, 154, 142, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  -webkit-background-size: 100% 1.5em;
  -moz-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top; }
  body .page {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(241, 90, 20, 0.2)), color-stop(16.12903%, rgba(241, 90, 20, 0.2)), color-stop(16.12903%, rgba(0, 0, 0, 0)), color-stop(20.96774%, rgba(0, 0, 0, 0)), color-stop(20.96774%, rgba(241, 90, 20, 0.2)), color-stop(37.09677%, rgba(241, 90, 20, 0.2)), color-stop(37.09677%, rgba(0, 0, 0, 0)), color-stop(41.93548%, rgba(0, 0, 0, 0)), color-stop(41.93548%, rgba(241, 90, 20, 0.2)), color-stop(58.06452%, rgba(241, 90, 20, 0.2)), color-stop(58.06452%, rgba(0, 0, 0, 0)), color-stop(62.90323%, rgba(0, 0, 0, 0)), color-stop(62.90323%, rgba(241, 90, 20, 0.2)), color-stop(79.03226%, rgba(241, 90, 20, 0.2)), color-stop(79.03226%, rgba(0, 0, 0, 0)), color-stop(83.87097%, rgba(0, 0, 0, 0)), color-stop(83.87097%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 16.12903%, rgba(0, 0, 0, 0) 16.12903%, rgba(0, 0, 0, 0) 20.96774%, rgba(241, 90, 20, 0.2) 20.96774%, rgba(241, 90, 20, 0.2) 37.09677%, rgba(0, 0, 0, 0) 37.09677%, rgba(0, 0, 0, 0) 41.93548%, rgba(241, 90, 20, 0.2) 41.93548%, rgba(241, 90, 20, 0.2) 58.06452%, rgba(0, 0, 0, 0) 58.06452%, rgba(0, 0, 0, 0) 62.90323%, rgba(241, 90, 20, 0.2) 62.90323%, rgba(241, 90, 20, 0.2) 79.03226%, rgba(0, 0, 0, 0) 79.03226%, rgba(0, 0, 0, 0) 83.87097%, rgba(241, 90, 20, 0.2) 83.87097%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 16.12903%, rgba(0, 0, 0, 0) 16.12903%, rgba(0, 0, 0, 0) 20.96774%, rgba(241, 90, 20, 0.2) 20.96774%, rgba(241, 90, 20, 0.2) 37.09677%, rgba(0, 0, 0, 0) 37.09677%, rgba(0, 0, 0, 0) 41.93548%, rgba(241, 90, 20, 0.2) 41.93548%, rgba(241, 90, 20, 0.2) 58.06452%, rgba(0, 0, 0, 0) 58.06452%, rgba(0, 0, 0, 0) 62.90323%, rgba(241, 90, 20, 0.2) 62.90323%, rgba(241, 90, 20, 0.2) 79.03226%, rgba(0, 0, 0, 0) 79.03226%, rgba(0, 0, 0, 0) 83.87097%, rgba(241, 90, 20, 0.2) 83.87097%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 16.12903%, rgba(0, 0, 0, 0) 16.12903%, rgba(0, 0, 0, 0) 20.96774%, rgba(241, 90, 20, 0.2) 20.96774%, rgba(241, 90, 20, 0.2) 37.09677%, rgba(0, 0, 0, 0) 37.09677%, rgba(0, 0, 0, 0) 41.93548%, rgba(241, 90, 20, 0.2) 41.93548%, rgba(241, 90, 20, 0.2) 58.06452%, rgba(0, 0, 0, 0) 58.06452%, rgba(0, 0, 0, 0) 62.90323%, rgba(241, 90, 20, 0.2) 62.90323%, rgba(241, 90, 20, 0.2) 79.03226%, rgba(0, 0, 0, 0) 79.03226%, rgba(0, 0, 0, 0) 83.87097%, rgba(241, 90, 20, 0.2) 83.87097%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 16.12903%, rgba(0, 0, 0, 0) 16.12903%, rgba(0, 0, 0, 0) 20.96774%, rgba(241, 90, 20, 0.2) 20.96774%, rgba(241, 90, 20, 0.2) 37.09677%, rgba(0, 0, 0, 0) 37.09677%, rgba(0, 0, 0, 0) 41.93548%, rgba(241, 90, 20, 0.2) 41.93548%, rgba(241, 90, 20, 0.2) 58.06452%, rgba(0, 0, 0, 0) 58.06452%, rgba(0, 0, 0, 0) 62.90323%, rgba(241, 90, 20, 0.2) 62.90323%, rgba(241, 90, 20, 0.2) 79.03226%, rgba(0, 0, 0, 0) 79.03226%, rgba(0, 0, 0, 0) 83.87097%, rgba(241, 90, 20, 0.2) 83.87097%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box; }
    @media (min-width: 641px) {
      body .page {
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(241, 90, 20, 0.2)), color-stop(9.90099%, rgba(241, 90, 20, 0.2)), color-stop(9.90099%, rgba(0, 0, 0, 0)), color-stop(12.87129%, rgba(0, 0, 0, 0)), color-stop(12.87129%, rgba(241, 90, 20, 0.2)), color-stop(22.77228%, rgba(241, 90, 20, 0.2)), color-stop(22.77228%, rgba(0, 0, 0, 0)), color-stop(25.74257%, rgba(0, 0, 0, 0)), color-stop(25.74257%, rgba(241, 90, 20, 0.2)), color-stop(35.64356%, rgba(241, 90, 20, 0.2)), color-stop(35.64356%, rgba(0, 0, 0, 0)), color-stop(38.61386%, rgba(0, 0, 0, 0)), color-stop(38.61386%, rgba(241, 90, 20, 0.2)), color-stop(48.51485%, rgba(241, 90, 20, 0.2)), color-stop(48.51485%, rgba(0, 0, 0, 0)), color-stop(51.48515%, rgba(0, 0, 0, 0)), color-stop(51.48515%, rgba(241, 90, 20, 0.2)), color-stop(61.38614%, rgba(241, 90, 20, 0.2)), color-stop(61.38614%, rgba(0, 0, 0, 0)), color-stop(64.35644%, rgba(0, 0, 0, 0)), color-stop(64.35644%, rgba(241, 90, 20, 0.2)), color-stop(74.25743%, rgba(241, 90, 20, 0.2)), color-stop(74.25743%, rgba(0, 0, 0, 0)), color-stop(77.22772%, rgba(0, 0, 0, 0)), color-stop(77.22772%, rgba(241, 90, 20, 0.2)), color-stop(87.12871%, rgba(241, 90, 20, 0.2)), color-stop(87.12871%, rgba(0, 0, 0, 0)), color-stop(90.09901%, rgba(0, 0, 0, 0)), color-stop(90.09901%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 9.90099%, rgba(0, 0, 0, 0) 9.90099%, rgba(0, 0, 0, 0) 12.87129%, rgba(241, 90, 20, 0.2) 12.87129%, rgba(241, 90, 20, 0.2) 22.77228%, rgba(0, 0, 0, 0) 22.77228%, rgba(0, 0, 0, 0) 25.74257%, rgba(241, 90, 20, 0.2) 25.74257%, rgba(241, 90, 20, 0.2) 35.64356%, rgba(0, 0, 0, 0) 35.64356%, rgba(0, 0, 0, 0) 38.61386%, rgba(241, 90, 20, 0.2) 38.61386%, rgba(241, 90, 20, 0.2) 48.51485%, rgba(0, 0, 0, 0) 48.51485%, rgba(0, 0, 0, 0) 51.48515%, rgba(241, 90, 20, 0.2) 51.48515%, rgba(241, 90, 20, 0.2) 61.38614%, rgba(0, 0, 0, 0) 61.38614%, rgba(0, 0, 0, 0) 64.35644%, rgba(241, 90, 20, 0.2) 64.35644%, rgba(241, 90, 20, 0.2) 74.25743%, rgba(0, 0, 0, 0) 74.25743%, rgba(0, 0, 0, 0) 77.22772%, rgba(241, 90, 20, 0.2) 77.22772%, rgba(241, 90, 20, 0.2) 87.12871%, rgba(0, 0, 0, 0) 87.12871%, rgba(0, 0, 0, 0) 90.09901%, rgba(241, 90, 20, 0.2) 90.09901%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 9.90099%, rgba(0, 0, 0, 0) 9.90099%, rgba(0, 0, 0, 0) 12.87129%, rgba(241, 90, 20, 0.2) 12.87129%, rgba(241, 90, 20, 0.2) 22.77228%, rgba(0, 0, 0, 0) 22.77228%, rgba(0, 0, 0, 0) 25.74257%, rgba(241, 90, 20, 0.2) 25.74257%, rgba(241, 90, 20, 0.2) 35.64356%, rgba(0, 0, 0, 0) 35.64356%, rgba(0, 0, 0, 0) 38.61386%, rgba(241, 90, 20, 0.2) 38.61386%, rgba(241, 90, 20, 0.2) 48.51485%, rgba(0, 0, 0, 0) 48.51485%, rgba(0, 0, 0, 0) 51.48515%, rgba(241, 90, 20, 0.2) 51.48515%, rgba(241, 90, 20, 0.2) 61.38614%, rgba(0, 0, 0, 0) 61.38614%, rgba(0, 0, 0, 0) 64.35644%, rgba(241, 90, 20, 0.2) 64.35644%, rgba(241, 90, 20, 0.2) 74.25743%, rgba(0, 0, 0, 0) 74.25743%, rgba(0, 0, 0, 0) 77.22772%, rgba(241, 90, 20, 0.2) 77.22772%, rgba(241, 90, 20, 0.2) 87.12871%, rgba(0, 0, 0, 0) 87.12871%, rgba(0, 0, 0, 0) 90.09901%, rgba(241, 90, 20, 0.2) 90.09901%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 9.90099%, rgba(0, 0, 0, 0) 9.90099%, rgba(0, 0, 0, 0) 12.87129%, rgba(241, 90, 20, 0.2) 12.87129%, rgba(241, 90, 20, 0.2) 22.77228%, rgba(0, 0, 0, 0) 22.77228%, rgba(0, 0, 0, 0) 25.74257%, rgba(241, 90, 20, 0.2) 25.74257%, rgba(241, 90, 20, 0.2) 35.64356%, rgba(0, 0, 0, 0) 35.64356%, rgba(0, 0, 0, 0) 38.61386%, rgba(241, 90, 20, 0.2) 38.61386%, rgba(241, 90, 20, 0.2) 48.51485%, rgba(0, 0, 0, 0) 48.51485%, rgba(0, 0, 0, 0) 51.48515%, rgba(241, 90, 20, 0.2) 51.48515%, rgba(241, 90, 20, 0.2) 61.38614%, rgba(0, 0, 0, 0) 61.38614%, rgba(0, 0, 0, 0) 64.35644%, rgba(241, 90, 20, 0.2) 64.35644%, rgba(241, 90, 20, 0.2) 74.25743%, rgba(0, 0, 0, 0) 74.25743%, rgba(0, 0, 0, 0) 77.22772%, rgba(241, 90, 20, 0.2) 77.22772%, rgba(241, 90, 20, 0.2) 87.12871%, rgba(0, 0, 0, 0) 87.12871%, rgba(0, 0, 0, 0) 90.09901%, rgba(241, 90, 20, 0.2) 90.09901%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 9.90099%, rgba(0, 0, 0, 0) 9.90099%, rgba(0, 0, 0, 0) 12.87129%, rgba(241, 90, 20, 0.2) 12.87129%, rgba(241, 90, 20, 0.2) 22.77228%, rgba(0, 0, 0, 0) 22.77228%, rgba(0, 0, 0, 0) 25.74257%, rgba(241, 90, 20, 0.2) 25.74257%, rgba(241, 90, 20, 0.2) 35.64356%, rgba(0, 0, 0, 0) 35.64356%, rgba(0, 0, 0, 0) 38.61386%, rgba(241, 90, 20, 0.2) 38.61386%, rgba(241, 90, 20, 0.2) 48.51485%, rgba(0, 0, 0, 0) 48.51485%, rgba(0, 0, 0, 0) 51.48515%, rgba(241, 90, 20, 0.2) 51.48515%, rgba(241, 90, 20, 0.2) 61.38614%, rgba(0, 0, 0, 0) 61.38614%, rgba(0, 0, 0, 0) 64.35644%, rgba(241, 90, 20, 0.2) 64.35644%, rgba(241, 90, 20, 0.2) 74.25743%, rgba(0, 0, 0, 0) 74.25743%, rgba(0, 0, 0, 0) 77.22772%, rgba(241, 90, 20, 0.2) 77.22772%, rgba(241, 90, 20, 0.2) 87.12871%, rgba(0, 0, 0, 0) 87.12871%, rgba(0, 0, 0, 0) 90.09901%, rgba(241, 90, 20, 0.2) 90.09901%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-position: left top;
        -webkit-background-origin: content;
        -moz-background-origin: content;
        -ms-background-origin: content-box;
        -o-background-origin: content-box;
        background-origin: content-box;
        -webkit-background-clip: content-box;
        -moz-background-clip: content-box;
        background-clip: content-box; } }
    @media (min-width: 941px) {
      body .page {
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(241, 90, 20, 0.2)), color-stop(6.53595%, rgba(241, 90, 20, 0.2)), color-stop(6.53595%, rgba(0, 0, 0, 0)), color-stop(8.49673%, rgba(0, 0, 0, 0)), color-stop(8.49673%, rgba(241, 90, 20, 0.2)), color-stop(15.03268%, rgba(241, 90, 20, 0.2)), color-stop(15.03268%, rgba(0, 0, 0, 0)), color-stop(16.99346%, rgba(0, 0, 0, 0)), color-stop(16.99346%, rgba(241, 90, 20, 0.2)), color-stop(23.52941%, rgba(241, 90, 20, 0.2)), color-stop(23.52941%, rgba(0, 0, 0, 0)), color-stop(25.4902%, rgba(0, 0, 0, 0)), color-stop(25.4902%, rgba(241, 90, 20, 0.2)), color-stop(32.02614%, rgba(241, 90, 20, 0.2)), color-stop(32.02614%, rgba(0, 0, 0, 0)), color-stop(33.98693%, rgba(0, 0, 0, 0)), color-stop(33.98693%, rgba(241, 90, 20, 0.2)), color-stop(40.52288%, rgba(241, 90, 20, 0.2)), color-stop(40.52288%, rgba(0, 0, 0, 0)), color-stop(42.48366%, rgba(0, 0, 0, 0)), color-stop(42.48366%, rgba(241, 90, 20, 0.2)), color-stop(49.01961%, rgba(241, 90, 20, 0.2)), color-stop(49.01961%, rgba(0, 0, 0, 0)), color-stop(50.98039%, rgba(0, 0, 0, 0)), color-stop(50.98039%, rgba(241, 90, 20, 0.2)), color-stop(57.51634%, rgba(241, 90, 20, 0.2)), color-stop(57.51634%, rgba(0, 0, 0, 0)), color-stop(59.47712%, rgba(0, 0, 0, 0)), color-stop(59.47712%, rgba(241, 90, 20, 0.2)), color-stop(66.01307%, rgba(241, 90, 20, 0.2)), color-stop(66.01307%, rgba(0, 0, 0, 0)), color-stop(67.97386%, rgba(0, 0, 0, 0)), color-stop(67.97386%, rgba(241, 90, 20, 0.2)), color-stop(74.5098%, rgba(241, 90, 20, 0.2)), color-stop(74.5098%, rgba(0, 0, 0, 0)), color-stop(76.47059%, rgba(0, 0, 0, 0)), color-stop(76.47059%, rgba(241, 90, 20, 0.2)), color-stop(83.00654%, rgba(241, 90, 20, 0.2)), color-stop(83.00654%, rgba(0, 0, 0, 0)), color-stop(84.96732%, rgba(0, 0, 0, 0)), color-stop(84.96732%, rgba(241, 90, 20, 0.2)), color-stop(91.50327%, rgba(241, 90, 20, 0.2)), color-stop(91.50327%, rgba(0, 0, 0, 0)), color-stop(93.46405%, rgba(0, 0, 0, 0)), color-stop(93.46405%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(241, 90, 20, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 6.53595%, rgba(0, 0, 0, 0) 6.53595%, rgba(0, 0, 0, 0) 8.49673%, rgba(241, 90, 20, 0.2) 8.49673%, rgba(241, 90, 20, 0.2) 15.03268%, rgba(0, 0, 0, 0) 15.03268%, rgba(0, 0, 0, 0) 16.99346%, rgba(241, 90, 20, 0.2) 16.99346%, rgba(241, 90, 20, 0.2) 23.52941%, rgba(0, 0, 0, 0) 23.52941%, rgba(0, 0, 0, 0) 25.4902%, rgba(241, 90, 20, 0.2) 25.4902%, rgba(241, 90, 20, 0.2) 32.02614%, rgba(0, 0, 0, 0) 32.02614%, rgba(0, 0, 0, 0) 33.98693%, rgba(241, 90, 20, 0.2) 33.98693%, rgba(241, 90, 20, 0.2) 40.52288%, rgba(0, 0, 0, 0) 40.52288%, rgba(0, 0, 0, 0) 42.48366%, rgba(241, 90, 20, 0.2) 42.48366%, rgba(241, 90, 20, 0.2) 49.01961%, rgba(0, 0, 0, 0) 49.01961%, rgba(0, 0, 0, 0) 50.98039%, rgba(241, 90, 20, 0.2) 50.98039%, rgba(241, 90, 20, 0.2) 57.51634%, rgba(0, 0, 0, 0) 57.51634%, rgba(0, 0, 0, 0) 59.47712%, rgba(241, 90, 20, 0.2) 59.47712%, rgba(241, 90, 20, 0.2) 66.01307%, rgba(0, 0, 0, 0) 66.01307%, rgba(0, 0, 0, 0) 67.97386%, rgba(241, 90, 20, 0.2) 67.97386%, rgba(241, 90, 20, 0.2) 74.5098%, rgba(0, 0, 0, 0) 74.5098%, rgba(0, 0, 0, 0) 76.47059%, rgba(241, 90, 20, 0.2) 76.47059%, rgba(241, 90, 20, 0.2) 83.00654%, rgba(0, 0, 0, 0) 83.00654%, rgba(0, 0, 0, 0) 84.96732%, rgba(241, 90, 20, 0.2) 84.96732%, rgba(241, 90, 20, 0.2) 91.50327%, rgba(0, 0, 0, 0) 91.50327%, rgba(0, 0, 0, 0) 93.46405%, rgba(241, 90, 20, 0.2) 93.46405%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 6.53595%, rgba(0, 0, 0, 0) 6.53595%, rgba(0, 0, 0, 0) 8.49673%, rgba(241, 90, 20, 0.2) 8.49673%, rgba(241, 90, 20, 0.2) 15.03268%, rgba(0, 0, 0, 0) 15.03268%, rgba(0, 0, 0, 0) 16.99346%, rgba(241, 90, 20, 0.2) 16.99346%, rgba(241, 90, 20, 0.2) 23.52941%, rgba(0, 0, 0, 0) 23.52941%, rgba(0, 0, 0, 0) 25.4902%, rgba(241, 90, 20, 0.2) 25.4902%, rgba(241, 90, 20, 0.2) 32.02614%, rgba(0, 0, 0, 0) 32.02614%, rgba(0, 0, 0, 0) 33.98693%, rgba(241, 90, 20, 0.2) 33.98693%, rgba(241, 90, 20, 0.2) 40.52288%, rgba(0, 0, 0, 0) 40.52288%, rgba(0, 0, 0, 0) 42.48366%, rgba(241, 90, 20, 0.2) 42.48366%, rgba(241, 90, 20, 0.2) 49.01961%, rgba(0, 0, 0, 0) 49.01961%, rgba(0, 0, 0, 0) 50.98039%, rgba(241, 90, 20, 0.2) 50.98039%, rgba(241, 90, 20, 0.2) 57.51634%, rgba(0, 0, 0, 0) 57.51634%, rgba(0, 0, 0, 0) 59.47712%, rgba(241, 90, 20, 0.2) 59.47712%, rgba(241, 90, 20, 0.2) 66.01307%, rgba(0, 0, 0, 0) 66.01307%, rgba(0, 0, 0, 0) 67.97386%, rgba(241, 90, 20, 0.2) 67.97386%, rgba(241, 90, 20, 0.2) 74.5098%, rgba(0, 0, 0, 0) 74.5098%, rgba(0, 0, 0, 0) 76.47059%, rgba(241, 90, 20, 0.2) 76.47059%, rgba(241, 90, 20, 0.2) 83.00654%, rgba(0, 0, 0, 0) 83.00654%, rgba(0, 0, 0, 0) 84.96732%, rgba(241, 90, 20, 0.2) 84.96732%, rgba(241, 90, 20, 0.2) 91.50327%, rgba(0, 0, 0, 0) 91.50327%, rgba(0, 0, 0, 0) 93.46405%, rgba(241, 90, 20, 0.2) 93.46405%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 6.53595%, rgba(0, 0, 0, 0) 6.53595%, rgba(0, 0, 0, 0) 8.49673%, rgba(241, 90, 20, 0.2) 8.49673%, rgba(241, 90, 20, 0.2) 15.03268%, rgba(0, 0, 0, 0) 15.03268%, rgba(0, 0, 0, 0) 16.99346%, rgba(241, 90, 20, 0.2) 16.99346%, rgba(241, 90, 20, 0.2) 23.52941%, rgba(0, 0, 0, 0) 23.52941%, rgba(0, 0, 0, 0) 25.4902%, rgba(241, 90, 20, 0.2) 25.4902%, rgba(241, 90, 20, 0.2) 32.02614%, rgba(0, 0, 0, 0) 32.02614%, rgba(0, 0, 0, 0) 33.98693%, rgba(241, 90, 20, 0.2) 33.98693%, rgba(241, 90, 20, 0.2) 40.52288%, rgba(0, 0, 0, 0) 40.52288%, rgba(0, 0, 0, 0) 42.48366%, rgba(241, 90, 20, 0.2) 42.48366%, rgba(241, 90, 20, 0.2) 49.01961%, rgba(0, 0, 0, 0) 49.01961%, rgba(0, 0, 0, 0) 50.98039%, rgba(241, 90, 20, 0.2) 50.98039%, rgba(241, 90, 20, 0.2) 57.51634%, rgba(0, 0, 0, 0) 57.51634%, rgba(0, 0, 0, 0) 59.47712%, rgba(241, 90, 20, 0.2) 59.47712%, rgba(241, 90, 20, 0.2) 66.01307%, rgba(0, 0, 0, 0) 66.01307%, rgba(0, 0, 0, 0) 67.97386%, rgba(241, 90, 20, 0.2) 67.97386%, rgba(241, 90, 20, 0.2) 74.5098%, rgba(0, 0, 0, 0) 74.5098%, rgba(0, 0, 0, 0) 76.47059%, rgba(241, 90, 20, 0.2) 76.47059%, rgba(241, 90, 20, 0.2) 83.00654%, rgba(0, 0, 0, 0) 83.00654%, rgba(0, 0, 0, 0) 84.96732%, rgba(241, 90, 20, 0.2) 84.96732%, rgba(241, 90, 20, 0.2) 91.50327%, rgba(0, 0, 0, 0) 91.50327%, rgba(0, 0, 0, 0) 93.46405%, rgba(241, 90, 20, 0.2) 93.46405%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(241, 90, 20, 0.2) 0%, rgba(241, 90, 20, 0.2) 6.53595%, rgba(0, 0, 0, 0) 6.53595%, rgba(0, 0, 0, 0) 8.49673%, rgba(241, 90, 20, 0.2) 8.49673%, rgba(241, 90, 20, 0.2) 15.03268%, rgba(0, 0, 0, 0) 15.03268%, rgba(0, 0, 0, 0) 16.99346%, rgba(241, 90, 20, 0.2) 16.99346%, rgba(241, 90, 20, 0.2) 23.52941%, rgba(0, 0, 0, 0) 23.52941%, rgba(0, 0, 0, 0) 25.4902%, rgba(241, 90, 20, 0.2) 25.4902%, rgba(241, 90, 20, 0.2) 32.02614%, rgba(0, 0, 0, 0) 32.02614%, rgba(0, 0, 0, 0) 33.98693%, rgba(241, 90, 20, 0.2) 33.98693%, rgba(241, 90, 20, 0.2) 40.52288%, rgba(0, 0, 0, 0) 40.52288%, rgba(0, 0, 0, 0) 42.48366%, rgba(241, 90, 20, 0.2) 42.48366%, rgba(241, 90, 20, 0.2) 49.01961%, rgba(0, 0, 0, 0) 49.01961%, rgba(0, 0, 0, 0) 50.98039%, rgba(241, 90, 20, 0.2) 50.98039%, rgba(241, 90, 20, 0.2) 57.51634%, rgba(0, 0, 0, 0) 57.51634%, rgba(0, 0, 0, 0) 59.47712%, rgba(241, 90, 20, 0.2) 59.47712%, rgba(241, 90, 20, 0.2) 66.01307%, rgba(0, 0, 0, 0) 66.01307%, rgba(0, 0, 0, 0) 67.97386%, rgba(241, 90, 20, 0.2) 67.97386%, rgba(241, 90, 20, 0.2) 74.5098%, rgba(0, 0, 0, 0) 74.5098%, rgba(0, 0, 0, 0) 76.47059%, rgba(241, 90, 20, 0.2) 76.47059%, rgba(241, 90, 20, 0.2) 83.00654%, rgba(0, 0, 0, 0) 83.00654%, rgba(0, 0, 0, 0) 84.96732%, rgba(241, 90, 20, 0.2) 84.96732%, rgba(241, 90, 20, 0.2) 91.50327%, rgba(0, 0, 0, 0) 91.50327%, rgba(0, 0, 0, 0) 93.46405%, rgba(241, 90, 20, 0.2) 93.46405%, rgba(241, 90, 20, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
        background-position: left top;
        -webkit-background-origin: content;
        -moz-background-origin: content;
        -ms-background-origin: content-box;
        -o-background-origin: content-box;
        background-origin: content-box;
        -webkit-background-clip: content-box;
        -moz-background-clip: content-box;
        background-clip: content-box; } }
