article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Theinhardt-Regular, sans-serif;
  vertical-align: baseline; }

* html {
  font-size: 100%; }

html {
  font-size: 16px;
  line-height: 24px; }

.content h1 {
  font-size: 90px;
  line-height: 72px;
  position: relative;
  top: 7px;
  margin-top: 24px;
  margin-bottom: 24px; }
.content h2 {
  font-size: 32px;
  line-height: 48px;
  position: relative;
  top: 13px; }
.content small {
  display: block;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  top: 8px;
  margin-bottom: 24px;
  opacity: .5; }
.content p {
  color: #444;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: 6px;
  margin-bottom: 24px; }
.content .header p {
  margin: 0; }
.content .font-scale-0 {
  font-size: 11px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 8px; }
  .content .font-scale-0:before {
    content: "11px "; }
.content .font-scale-1 {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 8px; }
  .content .font-scale-1:before {
    content: "12px "; }
.content .font-scale-2 {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 7px; }
  .content .font-scale-2:before {
    content: "15px "; }
.content .font-scale-3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 6px; }
  .content .font-scale-3:before {
    content: "16px "; }
.content .font-scale-4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  position: relative;
  top: 6px; }
  .content .font-scale-4:before {
    content: "18px "; }
.content .font-scale-5 {
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 24px;
  position: relative;
  top: 16px; }
  .content .font-scale-5:before {
    content: "24px "; }
.content .font-scale-6 {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 24px;
  position: relative;
  top: 15px; }
  .content .font-scale-6:before {
    content: "28px "; }
.content .font-scale-7 {
  font-size: 50px;
  line-height: 72px;
  margin-bottom: 24px;
  position: relative;
  top: 20px; }
  .content .font-scale-7:before {
    content: "50px "; }

body {
  background: #d9dfd1;
  margin: 0; }

.page {
  max-width: 31em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: auto;
  margin-right: auto; }
  .page:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 641px) {
    .page {
      max-width: 50.5em; } }
  @media (min-width: 941px) {
    .page {
      max-width: 76.5em; } }
  .page:after {
    content: "";
    display: table;
    clear: both; }

.footer:after {
  content: "";
  display: table;
  clear: both; }

.content {
  padding-top: 24px; }

body {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 154, 142, 0.3)), color-stop(5%, rgba(0, 154, 142, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  -webkit-background-size: 100% 24px;
  -moz-background-size: 100% 24px;
  -o-background-size: 100% 24px;
  background-size: 100% 24px;
  background-position: left top; }
  body .header {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(217, 223, 209, 0.1)), color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(16.12903%, rgba(0, 0, 0, 0.1)), color-stop(16.12903%, rgba(217, 223, 209, 0.1)), color-stop(20.96774%, rgba(217, 223, 209, 0.1)), color-stop(20.96774%, rgba(0, 0, 0, 0.1)), color-stop(37.09677%, rgba(0, 0, 0, 0.1)), color-stop(37.09677%, rgba(217, 223, 209, 0.1)), color-stop(41.93548%, rgba(217, 223, 209, 0.1)), color-stop(41.93548%, rgba(0, 0, 0, 0.1)), color-stop(58.06452%, rgba(0, 0, 0, 0.1)), color-stop(58.06452%, rgba(217, 223, 209, 0.1)), color-stop(62.90323%, rgba(217, 223, 209, 0.1)), color-stop(62.90323%, rgba(0, 0, 0, 0.1)), color-stop(79.03226%, rgba(0, 0, 0, 0.1)), color-stop(79.03226%, rgba(217, 223, 209, 0.1)), color-stop(83.87097%, rgba(217, 223, 209, 0.1)), color-stop(83.87097%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)));
    background-image: -webkit-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
    background-image: -moz-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
    background-image: -o-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
    background-image: linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box; }
    @media (min-width: 641px) {
      body .header {
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(217, 223, 209, 0.1)), color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(9.90099%, rgba(0, 0, 0, 0.1)), color-stop(9.90099%, rgba(217, 223, 209, 0.1)), color-stop(12.87129%, rgba(217, 223, 209, 0.1)), color-stop(12.87129%, rgba(0, 0, 0, 0.1)), color-stop(22.77228%, rgba(0, 0, 0, 0.1)), color-stop(22.77228%, rgba(217, 223, 209, 0.1)), color-stop(25.74257%, rgba(217, 223, 209, 0.1)), color-stop(25.74257%, rgba(0, 0, 0, 0.1)), color-stop(35.64356%, rgba(0, 0, 0, 0.1)), color-stop(35.64356%, rgba(217, 223, 209, 0.1)), color-stop(38.61386%, rgba(217, 223, 209, 0.1)), color-stop(38.61386%, rgba(0, 0, 0, 0.1)), color-stop(48.51485%, rgba(0, 0, 0, 0.1)), color-stop(48.51485%, rgba(217, 223, 209, 0.1)), color-stop(51.48515%, rgba(217, 223, 209, 0.1)), color-stop(51.48515%, rgba(0, 0, 0, 0.1)), color-stop(61.38614%, rgba(0, 0, 0, 0.1)), color-stop(61.38614%, rgba(217, 223, 209, 0.1)), color-stop(64.35644%, rgba(217, 223, 209, 0.1)), color-stop(64.35644%, rgba(0, 0, 0, 0.1)), color-stop(74.25743%, rgba(0, 0, 0, 0.1)), color-stop(74.25743%, rgba(217, 223, 209, 0.1)), color-stop(77.22772%, rgba(217, 223, 209, 0.1)), color-stop(77.22772%, rgba(0, 0, 0, 0.1)), color-stop(87.12871%, rgba(0, 0, 0, 0.1)), color-stop(87.12871%, rgba(217, 223, 209, 0.1)), color-stop(90.09901%, rgba(217, 223, 209, 0.1)), color-stop(90.09901%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)));
        background-image: -webkit-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
        background-image: -moz-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
        background-image: -o-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
        background-image: linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
        background-position: left top;
        -webkit-background-origin: content;
        -moz-background-origin: content;
        -ms-background-origin: content-box;
        -o-background-origin: content-box;
        background-origin: content-box;
        -webkit-background-clip: content-box;
        -moz-background-clip: content-box;
        background-clip: content-box; } }
    @media (min-width: 941px) {
      body .header {
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(217, 223, 209, 0.1)), color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(6.53595%, rgba(0, 0, 0, 0.1)), color-stop(6.53595%, rgba(217, 223, 209, 0.1)), color-stop(8.49673%, rgba(217, 223, 209, 0.1)), color-stop(8.49673%, rgba(0, 0, 0, 0.1)), color-stop(15.03268%, rgba(0, 0, 0, 0.1)), color-stop(15.03268%, rgba(217, 223, 209, 0.1)), color-stop(16.99346%, rgba(217, 223, 209, 0.1)), color-stop(16.99346%, rgba(0, 0, 0, 0.1)), color-stop(23.52941%, rgba(0, 0, 0, 0.1)), color-stop(23.52941%, rgba(217, 223, 209, 0.1)), color-stop(25.4902%, rgba(217, 223, 209, 0.1)), color-stop(25.4902%, rgba(0, 0, 0, 0.1)), color-stop(32.02614%, rgba(0, 0, 0, 0.1)), color-stop(32.02614%, rgba(217, 223, 209, 0.1)), color-stop(33.98693%, rgba(217, 223, 209, 0.1)), color-stop(33.98693%, rgba(0, 0, 0, 0.1)), color-stop(40.52288%, rgba(0, 0, 0, 0.1)), color-stop(40.52288%, rgba(217, 223, 209, 0.1)), color-stop(42.48366%, rgba(217, 223, 209, 0.1)), color-stop(42.48366%, rgba(0, 0, 0, 0.1)), color-stop(49.01961%, rgba(0, 0, 0, 0.1)), color-stop(49.01961%, rgba(217, 223, 209, 0.1)), color-stop(50.98039%, rgba(217, 223, 209, 0.1)), color-stop(50.98039%, rgba(0, 0, 0, 0.1)), color-stop(57.51634%, rgba(0, 0, 0, 0.1)), color-stop(57.51634%, rgba(217, 223, 209, 0.1)), color-stop(59.47712%, rgba(217, 223, 209, 0.1)), color-stop(59.47712%, rgba(0, 0, 0, 0.1)), color-stop(66.01307%, rgba(0, 0, 0, 0.1)), color-stop(66.01307%, rgba(217, 223, 209, 0.1)), color-stop(67.97386%, rgba(217, 223, 209, 0.1)), color-stop(67.97386%, rgba(0, 0, 0, 0.1)), color-stop(74.5098%, rgba(0, 0, 0, 0.1)), color-stop(74.5098%, rgba(217, 223, 209, 0.1)), color-stop(76.47059%, rgba(217, 223, 209, 0.1)), color-stop(76.47059%, rgba(0, 0, 0, 0.1)), color-stop(83.00654%, rgba(0, 0, 0, 0.1)), color-stop(83.00654%, rgba(217, 223, 209, 0.1)), color-stop(84.96732%, rgba(217, 223, 209, 0.1)), color-stop(84.96732%, rgba(0, 0, 0, 0.1)), color-stop(91.50327%, rgba(0, 0, 0, 0.1)), color-stop(91.50327%, rgba(217, 223, 209, 0.1)), color-stop(93.46405%, rgba(217, 223, 209, 0.1)), color-stop(93.46405%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)));
        background-image: -webkit-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
        background-image: -moz-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
        background-image: -o-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
        background-image: linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
        background-position: left top;
        -webkit-background-origin: content;
        -moz-background-origin: content;
        -ms-background-origin: content-box;
        -o-background-origin: content-box;
        background-origin: content-box;
        -webkit-background-clip: content-box;
        -moz-background-clip: content-box;
        background-clip: content-box; } }

.header h1 {
  padding-top: 48px;
  padding-bottom: 24px;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  top: 7px; }
  @media (min-width: 641px) {
    .header h1 {
      font-size: 24px;
      line-height: 24px;
      position: relative;
      top: 4px;
      padding-top: 144px; } }
.header .welcome {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 50px;
  line-height: 48px;
  position: relative;
  top: 8px;
  margin-top: -24px; }
  .header .welcome:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 641px) {
    .header .welcome {
      font-size: 90px;
      line-height: 72px;
      position: relative;
      top: 7px; } }
  .header .welcome span {
    margin-right: .2em;
    display: block;
    float: left;
    white-space: nowrap; }

.home .content h2 {
  font-size: 28px;
  line-height: 24px;
  position: relative;
  top: 3px;
  margin-bottom: 24px; }
.home .content .row {
  margin-top: 24px;
  padding-bottom: 24px; }
  @media (min-width: 641px) {
    .home .content .row {
      width: 48.51485%;
      float: left;
      margin-right: 2.9703%; }
      .home .content .row:nth-child(2n) {
        float: right;
        margin-right: 0; } }
  @media (min-width: 941px) {
    .home .content .row {
      width: 32.02614%;
      float: left;
      margin-right: 1.96078%; }
      .home .content .row:nth-child(2n) {
        float: left;
        margin-right: 1.96078%; }
      .home .content .row:nth-child(3n) {
        float: right;
        margin-right: 0; } }
.home .content .row {
  background-color: #d9dfd1;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 154, 142, 0.3)), color-stop(5%, rgba(0, 154, 142, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 154, 142, 0.3) 5%, rgba(0, 154, 142, 0) 5%);
  -webkit-background-size: 100% 12px;
  -moz-background-size: 100% 12px;
  -o-background-size: 100% 12px;
  background-size: 100% 12px;
  background-position: left top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 154, 142, 0.3);
  border-width: 0 1px; }
.home .content .demo-section h3 {
  font-family: Theinhardt-Regular, sans-serif;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  top: 5px;
  margin-bottom: 12px; }
  .home .content .demo-section h3 a {
    display: block;
    -webkit-transition: padding-left 0.1s;
    -moz-transition: padding-left 0.1s;
    -o-transition: padding-left 0.1s;
    transition: padding-left 0.1s; }
    .home .content .demo-section h3 a:hover {
      padding-left: 12px; }
.home .content .demo-section:last-child h3 {
  margin-bottom: 0px; }

body.demo section {
  margin-top: 24px;
  margin-bottom: 24px; }
  body.demo section:after {
    content: "";
    display: table;
    clear: both; }
body.demo .row {
  margin-top: 24px; }
  body.demo .row:after {
    content: "";
    display: table;
    clear: both; }
@media (min-width: 941px) {
  body.demo .side {
    width: 32.02614%;
    float: left;
    margin-right: 1.96078%; }
  body.demo .main {
    width: 66.01307%;
    float: right;
    margin-right: 0; } }
body.demo .side {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 24px; }
  body.demo .side pre {
    margin: 0;
    padding: 0;
    border: 0; }
  body.demo .side code {
    color: #369;
    font-size: 15px;
    line-height: 24px;
    position: relative;
    top: 7px; }
body.demo .main {
  margin: 0;
  padding: 0;
  border: 0; }
  body.demo .main .col1 {
    width: 48.51485%;
    float: left;
    margin-right: 2.9703%; }
  body.demo .main .col2 {
    width: 48.51485%;
    float: right;
    margin-right: 0; }

.demo-1-1-1 p, .demo-1-1-2 p, .demo-1-1-3 p, .demo-1-1-4 p, .demo-1-1-5 p, .demo-1-1-6 p, .demo-1-2-1 p, .demo-1-2-2 p, .demo-1-2-2-1 p, .demo-1-2-3 p, .demo-1-2-4 p, .demo-1-2-4-1 p, .demo-2-1-1 p, .demo-2-1-2 p, .demo-2-1-3 p, .demo-2-2-1 p, .demo-2-2-2 p, .demo-2-2-3 p, .demo-2-3-1 p, .demo-3-1 p, .demo-3-2 p, .demo-3-3 p, .demo-4-1 p, .demo-4-2 p, .demo-4-3 p {
  top: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

.demo-1-1-1 {
  font-family: serif; }

.demo-1-1-2 {
  font-family: sans-serif; }

.demo-1-1-3 {
  font-family: Arial,sans-serif; }

.demo-1-1-4 {
  font-family: Helvetica, Arial, sans-serif; }

.demo-1-1-5 {
  font-family: PMingLiu, Helvetica, Arial, sans-serif; }

.demo-1-1-6 {
  font-family: Helvetica, Arial, PMingLiu, sans-serif; }

.demo-1-2-1 p {
  font-size: 16px; }

.demo-1-2-2 p {
  font-size: 1em; }

.demo-1-2-2-1 p {
  font-size: 2em; }

.demo-1-2-3 p {
  font-size: 1em;
  line-height: 24px; }

.demo-1-2-4 p {
  font-size: 1em;
  line-height: 48px; }

.demo-1-2-4-1 p {
  font-size: 1em;
  line-height: 1.5; }

.margin-box {
  background: rgba(255, 255, 204, 0.3);
  overflow: hidden; }

.padding-box {
  background: rgba(255, 153, 204, 0.4);
  outline: 1px dashed rgba(51, 102, 153, 0.3); }

.content-box {
  background: white; }

.demo-2-1-1 .padding-box {
  margin: 24px; }
.demo-2-1-1 .margin-box:last-child {
  margin-top: -24px; }

.demo-2-1-2 p {
  margin: 0;
  padding: 0;
  border: 0; }
.demo-2-1-2 .padding-box {
  padding: 24px; }

.demo-2-1-3 p {
  margin: 0;
  padding: 0;
  border: 0; }
.demo-2-1-3 .padding-box {
  margin: 24px;
  padding: 24px; }
.demo-2-1-3 .margin-box:last-child {
  margin-top: -24px; }

.demo-2-2-1 p {
  margin: 0;
  padding: 0;
  border: 0; }
.demo-2-2-1 .padding-box {
  width: 200px; }

.demo-2-2-2 p {
  margin: 0;
  padding: 0;
  border: 0; }
.demo-2-2-2 .padding-box {
  width: 200px;
  margin: auto; }

.demo-2-2-3 p {
  margin: 0;
  padding: 0;
  border: 0; }
.demo-2-2-3 .margin-box {
  overflow: visible; }
.demo-2-2-3 .padding-box,
.demo-2-2-3 .content-box {
  width: 200px;
  height: 240px; }

.demo-2-3-1 p {
  margin: 0;
  padding: 0;
  border: 0; }
.demo-2-3-1 .padding-box {
  margin: 24px;
  padding: 24px;
  border: 12px solid black;
  outline: none; }
.demo-2-3-1 .margin-box:last-child {
  margin-top: -24px; }

.demo-3-1 .col1 p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px; }
.demo-3-1 .col2 p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 24px; }

.demo-3-2 .col1 p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px; }
.demo-3-2 .col2 p {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 24px; }

.demo-3-3 .col1 p {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px; }
.demo-3-3 .col2 p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px; }

.hide-grid {
  background: #d9dfd1; }

.demo-4-1 .col1 p {
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: 6px;
  margin-bottom: 24px; }
.demo-4-1 .col2 p {
  font-size: 12px;
  line-height: 24px;
  position: relative;
  top: 8px;
  margin-bottom: 24px; }

.demo-4-2 .col1 p {
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: -4px;
  margin-bottom: 24px; }
.demo-4-2 .col2 p {
  font-size: 12px;
  line-height: 16px;
  position: relative;
  top: -2px;
  margin-bottom: 24px; }

.demo-4-3 .col1 p {
  font-size: 32px;
  line-height: 48px;
  position: relative;
  top: 12px;
  margin-bottom: 24px; }
.demo-4-3 .col2 p {
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: 6px;
  margin-bottom: 24px; }

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #aa0000; }
  a:active, a:focus {
    outline: none; }
  a:hover {
    color: #dd0000; }

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: Theinhardt-bold, sans-serif; }
