article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  background: #d9dfd1;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Theinhardt-bold, sans-serif; }

.title {
  text-align: center;
  font-size: 32px;
  line-height: 1;
  padding-top: 1em;
  margin: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (min-width: 769px) {
    .title {
      font-size: 60px; } }
  @media (min-width: 961px) {
    .title {
      font-size: 90px; } }

.page {
  *zoom: 1;
  max-width: 31em;
  _width: 31em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(217, 223, 209, 0.1)), color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(16.12903%, rgba(0, 0, 0, 0.1)), color-stop(16.12903%, rgba(217, 223, 209, 0.1)), color-stop(20.96774%, rgba(217, 223, 209, 0.1)), color-stop(20.96774%, rgba(0, 0, 0, 0.1)), color-stop(37.09677%, rgba(0, 0, 0, 0.1)), color-stop(37.09677%, rgba(217, 223, 209, 0.1)), color-stop(41.93548%, rgba(217, 223, 209, 0.1)), color-stop(41.93548%, rgba(0, 0, 0, 0.1)), color-stop(58.06452%, rgba(0, 0, 0, 0.1)), color-stop(58.06452%, rgba(217, 223, 209, 0.1)), color-stop(62.90323%, rgba(217, 223, 209, 0.1)), color-stop(62.90323%, rgba(0, 0, 0, 0.1)), color-stop(79.03226%, rgba(0, 0, 0, 0.1)), color-stop(79.03226%, rgba(217, 223, 209, 0.1)), color-stop(83.87097%, rgba(217, 223, 209, 0.1)), color-stop(83.87097%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)));
  background-image: -webkit-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
  background-image: -moz-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
  background-image: -o-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
  background-image: linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 16.12903%, rgba(217, 223, 209, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 20.96774%, rgba(0, 0, 0, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 37.09677%, rgba(217, 223, 209, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 41.93548%, rgba(0, 0, 0, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 58.06452%, rgba(217, 223, 209, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 62.90323%, rgba(0, 0, 0, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 79.03226%, rgba(217, 223, 209, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 83.87097%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box; }
  .page:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 769px) {
    .page {
      max-width: 50.5em; } }
  @media (min-width: 961px) {
    .page {
      max-width: 76.5em; } }
  @media (min-width: 769px) {
    .page {
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(217, 223, 209, 0.1)), color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(9.90099%, rgba(0, 0, 0, 0.1)), color-stop(9.90099%, rgba(217, 223, 209, 0.1)), color-stop(12.87129%, rgba(217, 223, 209, 0.1)), color-stop(12.87129%, rgba(0, 0, 0, 0.1)), color-stop(22.77228%, rgba(0, 0, 0, 0.1)), color-stop(22.77228%, rgba(217, 223, 209, 0.1)), color-stop(25.74257%, rgba(217, 223, 209, 0.1)), color-stop(25.74257%, rgba(0, 0, 0, 0.1)), color-stop(35.64356%, rgba(0, 0, 0, 0.1)), color-stop(35.64356%, rgba(217, 223, 209, 0.1)), color-stop(38.61386%, rgba(217, 223, 209, 0.1)), color-stop(38.61386%, rgba(0, 0, 0, 0.1)), color-stop(48.51485%, rgba(0, 0, 0, 0.1)), color-stop(48.51485%, rgba(217, 223, 209, 0.1)), color-stop(51.48515%, rgba(217, 223, 209, 0.1)), color-stop(51.48515%, rgba(0, 0, 0, 0.1)), color-stop(61.38614%, rgba(0, 0, 0, 0.1)), color-stop(61.38614%, rgba(217, 223, 209, 0.1)), color-stop(64.35644%, rgba(217, 223, 209, 0.1)), color-stop(64.35644%, rgba(0, 0, 0, 0.1)), color-stop(74.25743%, rgba(0, 0, 0, 0.1)), color-stop(74.25743%, rgba(217, 223, 209, 0.1)), color-stop(77.22772%, rgba(217, 223, 209, 0.1)), color-stop(77.22772%, rgba(0, 0, 0, 0.1)), color-stop(87.12871%, rgba(0, 0, 0, 0.1)), color-stop(87.12871%, rgba(217, 223, 209, 0.1)), color-stop(90.09901%, rgba(217, 223, 209, 0.1)), color-stop(90.09901%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)));
      background-image: -webkit-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
      background-image: -moz-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
      background-image: -o-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
      background-image: linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 9.90099%, rgba(217, 223, 209, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 12.87129%, rgba(0, 0, 0, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 22.77228%, rgba(217, 223, 209, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 25.74257%, rgba(0, 0, 0, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 35.64356%, rgba(217, 223, 209, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 38.61386%, rgba(0, 0, 0, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 48.51485%, rgba(217, 223, 209, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 51.48515%, rgba(0, 0, 0, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 61.38614%, rgba(217, 223, 209, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 64.35644%, rgba(0, 0, 0, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 74.25743%, rgba(217, 223, 209, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 77.22772%, rgba(0, 0, 0, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 87.12871%, rgba(217, 223, 209, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 90.09901%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
      background-position: left top;
      -webkit-background-origin: content;
      -moz-background-origin: content;
      -ms-background-origin: content-box;
      -o-background-origin: content-box;
      background-origin: content-box;
      -webkit-background-clip: content-box;
      -moz-background-clip: content-box;
      background-clip: content-box; } }
  @media (min-width: 961px) {
    .page {
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(217, 223, 209, 0.1)), color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(6.53595%, rgba(0, 0, 0, 0.1)), color-stop(6.53595%, rgba(217, 223, 209, 0.1)), color-stop(8.49673%, rgba(217, 223, 209, 0.1)), color-stop(8.49673%, rgba(0, 0, 0, 0.1)), color-stop(15.03268%, rgba(0, 0, 0, 0.1)), color-stop(15.03268%, rgba(217, 223, 209, 0.1)), color-stop(16.99346%, rgba(217, 223, 209, 0.1)), color-stop(16.99346%, rgba(0, 0, 0, 0.1)), color-stop(23.52941%, rgba(0, 0, 0, 0.1)), color-stop(23.52941%, rgba(217, 223, 209, 0.1)), color-stop(25.4902%, rgba(217, 223, 209, 0.1)), color-stop(25.4902%, rgba(0, 0, 0, 0.1)), color-stop(32.02614%, rgba(0, 0, 0, 0.1)), color-stop(32.02614%, rgba(217, 223, 209, 0.1)), color-stop(33.98693%, rgba(217, 223, 209, 0.1)), color-stop(33.98693%, rgba(0, 0, 0, 0.1)), color-stop(40.52288%, rgba(0, 0, 0, 0.1)), color-stop(40.52288%, rgba(217, 223, 209, 0.1)), color-stop(42.48366%, rgba(217, 223, 209, 0.1)), color-stop(42.48366%, rgba(0, 0, 0, 0.1)), color-stop(49.01961%, rgba(0, 0, 0, 0.1)), color-stop(49.01961%, rgba(217, 223, 209, 0.1)), color-stop(50.98039%, rgba(217, 223, 209, 0.1)), color-stop(50.98039%, rgba(0, 0, 0, 0.1)), color-stop(57.51634%, rgba(0, 0, 0, 0.1)), color-stop(57.51634%, rgba(217, 223, 209, 0.1)), color-stop(59.47712%, rgba(217, 223, 209, 0.1)), color-stop(59.47712%, rgba(0, 0, 0, 0.1)), color-stop(66.01307%, rgba(0, 0, 0, 0.1)), color-stop(66.01307%, rgba(217, 223, 209, 0.1)), color-stop(67.97386%, rgba(217, 223, 209, 0.1)), color-stop(67.97386%, rgba(0, 0, 0, 0.1)), color-stop(74.5098%, rgba(0, 0, 0, 0.1)), color-stop(74.5098%, rgba(217, 223, 209, 0.1)), color-stop(76.47059%, rgba(217, 223, 209, 0.1)), color-stop(76.47059%, rgba(0, 0, 0, 0.1)), color-stop(83.00654%, rgba(0, 0, 0, 0.1)), color-stop(83.00654%, rgba(217, 223, 209, 0.1)), color-stop(84.96732%, rgba(217, 223, 209, 0.1)), color-stop(84.96732%, rgba(0, 0, 0, 0.1)), color-stop(91.50327%, rgba(0, 0, 0, 0.1)), color-stop(91.50327%, rgba(217, 223, 209, 0.1)), color-stop(93.46405%, rgba(217, 223, 209, 0.1)), color-stop(93.46405%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)), color-stop(100%, rgba(217, 223, 209, 0.1)));
      background-image: -webkit-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
      background-image: -moz-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
      background-image: -o-linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
      background-image: linear-gradient(left, rgba(217, 223, 209, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 6.53595%, rgba(217, 223, 209, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 8.49673%, rgba(0, 0, 0, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 15.03268%, rgba(217, 223, 209, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 16.99346%, rgba(0, 0, 0, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 23.52941%, rgba(217, 223, 209, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 25.4902%, rgba(0, 0, 0, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 32.02614%, rgba(217, 223, 209, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 33.98693%, rgba(0, 0, 0, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 40.52288%, rgba(217, 223, 209, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 42.48366%, rgba(0, 0, 0, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 49.01961%, rgba(217, 223, 209, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 50.98039%, rgba(0, 0, 0, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 57.51634%, rgba(217, 223, 209, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 59.47712%, rgba(0, 0, 0, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 66.01307%, rgba(217, 223, 209, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 67.97386%, rgba(0, 0, 0, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 74.5098%, rgba(217, 223, 209, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 76.47059%, rgba(0, 0, 0, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 83.00654%, rgba(217, 223, 209, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 84.96732%, rgba(0, 0, 0, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 91.50327%, rgba(217, 223, 209, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 93.46405%, rgba(0, 0, 0, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%, rgba(217, 223, 209, 0.1) 100%);
      background-position: left top;
      -webkit-background-origin: content;
      -moz-background-origin: content;
      -ms-background-origin: content-box;
      -o-background-origin: content-box;
      background-origin: content-box;
      -webkit-background-clip: content-box;
      -moz-background-clip: content-box;
      background-clip: content-box; } }
